<div class="card form">

  <h5 class="card-header grey-text text-center py-4">
      <strong>הרשמה</strong>
  </h5>

  <!--Card content-->
  <div class="card-body px-lg-5 pt-0">

      <!-- Form -->
      <form class="text-center center" style="color: #757575;">

          <div class="form-row">
              <div class="col">
                  <!-- First name -->
                  <div class="md-form text-right">
                      <input type="text" id="materialRegisterFormFirstName" class="form-control">
                      <label class="label" for="materialRegisterFormFirstName">שם פרטי</label>
                  </div>
              </div>
              <div class="col">
                  <!-- Last name -->
                  <div class="md-form">
                      <input type="email" id="materialRegisterFormLastName" class="form-control" style="direction: rtl">
                      <label class="label" for="materialRegisterFormLastName">שם משפחה</label>
                  </div>
              </div>
          </div>

          <!-- E-mail -->
          <div class="md-form mt-0 left-input">
              <input type="email" id="materialRegisterFormEmail" class="form-control">
              <label for="materialRegisterFormEmail">E-mail</label>
          </div>

          <!-- Password -->
          <div class="md-form">
              <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
              <label class="label" for="materialRegisterFormPassword">ססמא</label>
              <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                  לפחות 8 תווים
              </small>
          </div>

          <!-- Phone number -->
          <div class="md-form">
              <input type="password" id="materialRegisterFormPhone" class="form-control">
              <label class="label" for="materialRegisterFormPhone">מספר טלפון</label>
          </div>

          <!-- Sign up button -->
          <button class="btn btn-outline-default btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

          <hr>

      </form>
      <!-- Form -->

  </div>

</div>