<div class="jumbotron text-right">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                      <label>שם פרטי</label>
                      <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                          <div *ngIf="f.firstName.errors.required">יש להכניס שם פרטי</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>שם משפחה</label>
                      <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div *ngIf="f.lastName.errors.required">יש להכניס שם משפחה</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>מייל</label>
                      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div *ngIf="f.email.errors.required">יש להכניס כתובל מייל</div>
                          <div *ngIf="f.email.errors.email">יש להכיס כתובת מייל תקינה</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>ססמא</label>
                      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">יש להכניס ססמא</div>
                          <div *ngIf="f.password.errors.minlength">על הססמא להיות לפחות באורך 6 תווים</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button [disabled]="loading" class="btn btn-outline-cyan waves-effect">הרשם</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>