.card-comments img {
  width: 4rem; }

.container, h4, strong{
  direction: rtl;
}

.close{
  z-index: 1;
  position: fixed;
  display: contents !important;
}

.modal{
  direction: rtl;
  overflow: hidden;
}

.intro-header {
  height: unset !important;
}
.top-nav-collapse {
  background-color: #78909c !important;
}
.view {
  height: 100vh !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}
h1 {
  letter-spacing: 8px;
}
h5 {
  letter-spacing: 3px;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}

@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}

.img-responsive{
  height: 250px !important;
  width: 250px !important;
  image-rendering: -webkit-optimize-contrast;
  object-fit: cover;
}

.cascading-modal{
  margin-right: 35% !important;
}

.btn{
  margin: 0px !important;
}

#rateMe{
  color: gold;
}
