<div class="page">
<div class="side-panel" id="side-panel">
  <br>
  <div class="col">
    <div class="md-form mt-0">
      <input placeholder="חפש מיקום..." autocorrect="off" autocapitalize="off"
             spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl"
              [(ngModel)]="location">

    </div>
  </div>

  <div class="slider">
    <label for="nature">פעילויות טבע</label>
    <div style="display: flex">
      <i class="fa fa-minus float-right mr-2"></i>
    <input type="range" class="custom-range" min="0" max="5" id="nature" [(ngModel)]="nature">
      <i class="fa fa-plus float-left ml-2"></i>
    </div>

    <label for="family">משפחה</label>
    <div style="display: flex">
      <i class="fa fa-minus float-right mr-2"></i>
    <input type="range" class="custom-range" min="0" max="5" id="family" [(ngModel)]="family">
      <i class="fa fa-plus float-left ml-2"></i>
    </div>

    <label for="food">אוכל</label>
    <div style="display: flex">
      <i class="fa fa-minus float-right mr-2"></i>
    <input type="range" class="custom-range" min="0" max="5" id="food" [(ngModel)]="food">
      <i class="fa fa-plus float-left ml-2"></i>
    </div>

    <label for="nightLifa">חיי לילה</label>
    <div style="display: flex">
      <i class="fa fa-minus float-right mr-2"></i>
    <input type="range" class="custom-range" min="0" max="5" id="nightLifa" [(ngModel)]="mightLife">
      <i class="fa fa-plus float-left ml-2"></i>
    </div>

    <label for="culture">תרבות</label>
    <div style="display: flex">
      <i class="fa fa-minus float-right mr-2"></i>
    <input type="range" class="custom-range" min="0" max="5" id="culture"[(ngModel)]="culture">
      <i class="fa fa-plus float-left ml-2"></i>
    </div>

    <label for="shopping">שופינג</label>
    <div style="display: flex">
      <i class="fa fa-minus float-right mr-2"></i>
      <input type="range" class="custom-range" min="0" max="5" id="shopping"[(ngModel)]="shopping">
      <i class="fa fa-plus float-left ml-2"></i>
    </div>


    <label for="duration" id="days">
      סה"כ ימים:
     {{duration}}
    </label>
    <input type="range" class="custom-range" min="1" max="7" id="duration"[(ngModel)]="duration">

    <button class="btn btn-default" id="search" (click)="createTrip()" routerLink="/DisplayTripComponent" [disabled]="location == null">צור מסלול <i class="fa fa-search"></i></button>
  </div>

</div>


<div style="width: 80%;" [ngStyle]="{ 'height': 'mapHeight'}">
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" style="height: 750px" >
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
    <agm-direction [origin]="origin" [destination]="destination">
    </agm-direction>
  </agm-map>
</div>
</div>
