.side-panel{
  width: 20%;
  right: 0%;
  position: absolute;
  background: aliceblue;
  text-align: right;
}

.slider{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#search{
  width: 100%;
  margin-top: 30px;
}

#days{
  padding-top: 60px;
}

input :not(.custom-range){
  direction: rtl;
}

