<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
  <a class="navbar-brand" href="#">BestTravel<p class="fa fa-globe"></p></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
          aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <div class="nav-item" *ngIf="globalService.getUser()">
        <p class="nav-link">{{globalService.getUser()}}</p>
      </div>
      <!--<li class="nav-item dropdown">-->
        <!--<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"-->
           <!--aria-expanded="false">-->
          <!--<i class="fa fa-user"></i>-->
        <!--</a>-->
        <!--<div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">-->
          <!--<a class="dropdown-item" href="#">החשבון שלי</a>-->
          <!--<a class="dropdown-item" href="#">התנתק</a>-->
        <!--</div>-->
      <!--</li>-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-landing-page"> גלה הרפתקאות חדשות<p class="fa fa-map"></p></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/user-trips">המסלולים שלי <p class="fa fa-history"></p></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/trip-planner"> צור מסלול חדש<p class="fa fa-plus"></p>
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
