<main class="mt-5 pt-5">
  <div class="container">
    <section class="card near-moon-gradient animated pulse" id="intro">
      <div class="card-body text-white text-center py-5 px-5 my-5 wow bounceInUp overlay zoom">

        <h1 class="mb-4">
          <strong>גלה מקומות חדשים לבקר בהם</strong>
        </h1>
        <p>
          <strong>התחבר בשביל חוויה מותאמת אישית.</strong>
        </p>
        <p class="mb-4">
          <strong>צור מסלולים וקבל מסלולים מותאים אישית שגולשים עם אותם תחומי עניין כמוך אהבו</strong>
        </p>
        <div>
          <a target="_blank" class="btn btn-outline-white btn-lg">התחבר
            <i class="fa fa-user ml-2"></i>
          </a>
          <a target="_blank" class="btn btn-outline-white btn-lg">צור חשבון חדש
            <i class="fa fa-plus ml-2"></i>
          </a>
        </div>
      </div>
    </section>
    <hr class="my-5">

    <h2 class="h1-responsive font-weight-bold my-5 text-center">יעדים פופולריים בקרב הגולשים</h2>


    <section class="text-center" >
      <div class="row mb-4 wow fadeIn" (click)="basicModal.show()">
        <div class="col-md-6 mb-4" *ngFor="let trip of allTrips">
          <div class="card">
            <div class="view overlay zoom">
              <img src={{trip.ImagePath}} class="card-img-top"
                   alt="">
              <div class="mask flex-center">
                <p class="white-text">Zoom effect</p>
              </div>
              <a target="_blank">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body">
              <h4 class="card-title">{{trip.city}}</h4>
              <p class="card-text"></p>
              <p class="card-text">
                <strong></strong>
              </p>
            </div>
          </div>
        </div>
      </div>

      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item active">
            <a class="page-link" href="#">1
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </section>
  </div>
</main>

<hr class="my-5">

<div style="width: 90% !important; text-align: center !important; align-content: center !important; margin: auto">
  <section class="text-center my-5 p-1">
    <h2 class="h1-responsive font-weight-bold my-5">הכירו את הצוות</h2>
    <div class="row" style="display: -webkit-inline-box; padding-left: 130px">

      <div class="rounded-circle view overlay hm-teal-strong wow  bounce" style="width: 15% !important;margin: 10px;">
        <img src="https://scontent.ftlv1-1.fna.fbcdn.net/v/t1.0-9/50014527_10211201753154648_525782139665383424_n.jpg?_nc_cat=100&_nc_ht=scontent.ftlv1-1.fna&oh=bbc99f47c814fd048444d017b5087cdf&oe=5CE1E01D" class="img-fluid ">
        <div class="mask flex-center">
          <p class="white-text">ורוניקה זולובוב</p>
        </div>
      </div>

      <div class="rounded-circle view overlay hm-red-strong" style="width: 15% !important;margin: 10px;">
        <img src="https://scontent.ftlv1-2.fna.fbcdn.net/v/t1.0-9/41869803_2005245629497104_5477444699658649600_n.jpg?_nc_cat=106&_nc_ht=scontent.ftlv1-2.fna&oh=50d8b8b41919c242b6c189d1502d5e16&oe=5D26125E" class="img-fluid ">
        <div class="mask flex-center">
          <p class="white-text">שיר שחק</p>
        </div>
      </div>

      <div class="rounded-circle view overlay hm-red-strong" style="width: 15% !important;margin: 10px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRckdUAbDfd9Z1Y-_mio1r_6pabKr3vC5FWyuNZjXMVitFGg_AT" class="img-fluid ">
        <div class="mask flex-center">
          <p class="gray-text">מור אלון</p>
        </div>
      </div>

      <div class="rounded-circle view overlay hm-red-strong" style="width: 15% !important;margin: 10px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRckdUAbDfd9Z1Y-_mio1r_6pabKr3vC5FWyuNZjXMVitFGg_AT" class="img-fluid ">
        <div class="mask flex-center">
          <p class="gray-text">מור אלון</p>
        </div>
      </div>

      <div class="rounded-circle view overlay hm-red-strong" style="width: 15% !important;margin: 10px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRckdUAbDfd9Z1Y-_mio1r_6pabKr3vC5FWyuNZjXMVitFGg_AT" class="img-fluid ">
        <div class="mask flex-center">
          <p class="gray-text">מור אלון</p>
        </div>
      </div>

    </div>

  </section>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">

<!--
        <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
-->
      </div>
    </div>
  </div>
</div>

<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a target="_blank"> צוות פיתוח BestTravel </a>
  </div>

</footer>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript">
  new WOW().init();
</script>
