<main class="mt-5 pt-5">
  <div class="container">
    <section class="card near-moon-gradient animated pulse" id="intro" [hidden]="isUserConnected">
      <div class="card-body text-white text-center py-5 px-5 my-5 wow bounceInUp overlay zoom">

        <h1 class="mb-4">
          <strong>גלה מקומות חדשים לבקר בהם</strong>
        </h1>
        <p>
          <strong>התחבר בשביל חוויה מותאמת אישית.</strong>
        </p>
        <p class="mb-4">
          <strong>צור מסלולים וקבל מסלולים מותאים אישית שגולשים עם אותם תחומי עניין כמוך אהבו</strong>
        </p>
        <div>
          <a routerLink="/user-login" class="btn btn-outline-white btn-lg">התחבר
            <i class="fa fa-user ml-2"></i>
          </a>
          <a routerLink="/create-user" class="btn btn-outline-white btn-lg">צור חשבון חדש
            <i class="fa fa-plus ml-2"></i>
          </a>
        </div>
      </div>
    </section>
    <hr class="my-5">

    <h2 class="h1-responsive font-weight-bold my-5 text-center">יעדים פופולריים בקרב הגולשים</h2>


    <section class="text-center" >
      <div class="row mb-4 wow fadeIn" >
        <div class="col-md-6 mb-4" *ngFor="let trip of allTrips">
          <div class="card" (click)="basicModal.show()">
            <div class="view overlay zoom">
              <img src={{trip.ImageUrl}} class="card-img-top"
                   alt="">
              <div class="mask flex-center">
                <p class="white-text">Zoom effect</p>
              </div>
              <a target="_blank">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body">
              <h4 class="card-title">{{trip.Name}}</h4>
              <p class="card-text"></p>
              <p class="card-text">
                <strong></strong>
              </p>
            </div>
          </div>

          <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
              <div class="modal-content" style="width: 200%; height: 600px !important;">
                <div class="modal-header">
                  <img src={{trip.ImageUrl}} class="rounded-circle img-responsive" alt="Avatar photo">
                </div>


                <div class="modal-body text-center mb-1">
                  <h5 class="mt-1 mb-2">{{trip.Name}}</h5>
                  <h6>{{trip.Description}}</h6>
                </div>

                <ul class="list-group list-group-flush mt-3" style="overflow-y: scroll;height: 55%">
                  <li class="list-group-item ml-4" (click)="test.toggle()" *ngFor="let place of trip.trip.places[0].places">{{place.name}}
                    <div class="" mdbCollapse #test="bs-collapse">
                      <p>כתובת: {{place.vicinity}}</p>
                    </div>
                    <div>
                      <mdb-badge *ngIf="place.opening_hours != null" pill="true" primary="true" [hidden]="!place.opening_hours.open_now" style="margin-left: 250px">פתוח עכשיו</mdb-badge>
                      <mdb-badge *ngIf="place.opening_hours != null" pill="true" warning="true" [hidden]="place.opening_hours.open_now" style="margin-left: 250px"> סגור עכשיו</mdb-badge>
                      <span id="rateMe" class="float-left">
                      <i *ngIf="place.user_ratings_total > 0" class="fa fa-star py-2 px-1 rate-popover" data-index="0" data-html="true" data-toggle="popover" data-placement="top"></i>
                      <i *ngIf="place.user_ratings_total > 1" class="fa fa-star py-2 px-1 rate-popover" data-index="1" data-html="true" data-toggle="popover" data-placement="top"></i>
                      <i *ngIf="place.user_ratings_total > 2" class="fa fa-star py-2 px-1 rate-popover" data-index="2" data-html="true" data-toggle="popover" data-placement="top"></i>
                      <i *ngIf="place.user_ratings_total > 3 " class="fa fa-star py-2 px-1 rate-popover" data-index="3" data-html="true" data-toggle="popover" data-placement="top"></i>
                      <i *ngIf="place.user_ratings_total == 5" class="fa fa-star py-2 px-1 rate-popover" data-index="4" data-html="true" data-toggle="popover" data-placement="top"></i>
                    </span>
                    </div>
                  </li>
                </ul>

              </div>
            </div>
          </div>

        </div>
      </div>

      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <li class="page-item active">
            <a class="page-link" href="#">1
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </section>
  </div>
</main>

<hr class="my-5">

<div style="width: 90% !important; text-align: center !important; align-content: center !important; margin: auto">
  <section class="text-center my-5 p-1">
    <h2 class="h1-responsive font-weight-bold my-5">הכירו את הצוות</h2>
    <div class="row" style="display: -webkit-inline-box; padding-left: 130px">

      <div class="rounded-circle view overlay hm-teal-strong wow bounce" style="width: 15% !important;margin: 10px;">
        <img src="https://scontent.fsdv1-2.fna.fbcdn.net/v/t1.0-9/50014527_10211201753154648_525782139665383424_n.jpg?_nc_cat=100&_nc_ht=scontent.fsdv1-2.fna&oh=b246965c2e4623986105eb2ccaf245b0&oe=5D80141D" class="img-fluid ">
        <div class="mask flex-center">
          <p class="white-text">ורוניקה זולובוב</p>
        </div>
      </div>

      <div class="rounded-circle view overlay hm-teal-strong wow bounce" style="width: 15% !important;margin: 10px;">
        <img src="https://scontent.ftlv1-2.fna.fbcdn.net/v/t1.0-9/41869803_2005245629497104_5477444699658649600_n.jpg?_nc_cat=106&_nc_ht=scontent.ftlv1-2.fna&oh=50d8b8b41919c242b6c189d1502d5e16&oe=5D26125E" class="img-fluid ">
        <div class="mask flex-center">
          <p class="white-text">שיר שחק</p>
        </div>
      </div>

      <div class="rounded-circle view overlay hm-teal-strong wow bounce" style="width: 15% !important;margin: 10px;">
        <img src="https://scontent.fsdv1-2.fna.fbcdn.net/v/t1.0-9/49344588_2272386349438300_6860719160209440768_n.jpg?_nc_cat=101&_nc_ht=scontent.fsdv1-2.fna&oh=646a104e3015d6d71c9b1a25e1adadf4&oe=5D8E29EC" class="img-fluid ">
        <div class="mask flex-center">
          <p class="white-text">מור אלון</p>
        </div>
      </div>

      <div class="rounded-circle view overlay hm-teal-strong wow bounce" style="width: 15% !important;margin: 10px;">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRckdUAbDfd9Z1Y-_mio1r_6pabKr3vC5FWyuNZjXMVitFGg_AT" class="img-fluid ">
        <div class="mask flex-center">
          <p class="white-text">ירין אנדרייב</p>
        </div>
      </div>

      <div class="rounded-circle view overlay hm-teal-strong wow bounce" style="width: 15% !important;margin: 10px;">
        <img src="https://scontent.fsdv1-2.fna.fbcdn.net/v/t1.0-9/14344870_10202164663116183_4840256321869618679_n.jpg?_nc_cat=105&_nc_ht=scontent.fsdv1-2.fna&oh=6f203349626046bd496b0811ea8a4420&oe=5D99C4A0" class="img-fluid ">
        <div class="mask flex-center">
          <p class="white-text">דנה אורלוב</p>
        </div>
      </div>

    </div>

  </section>
</div>

<footer class="page-footer text-center font-small mdb-color darken-2 mt-4 wow fadeIn">
  <div class="footer-copyright py-3">
    © 2019 Copyright:
    <a target="_blank"> צוות פיתוח BestTravel </a>
  </div>

</footer>

<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/popper.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript">
  new WOW().init();
</script>


